.cen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttn{
    border-style: none;
    margin-left: 1.5rem;
    padding: 3rem;
}

input:focus{
    background-color: transparent!important;
}
input::-webkit-input-placeholder{
    color: rgb(0, 0, 0);
}
